<!DOCTYPE html>
<html>

    <head>
        
        <title>My Website</title>

        <!-- icon -->
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/logo.png')}}"/>

        <!-- css styling -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    </head>

    <body>
        
        <div id="container">

            <h1>Welcome!</h1>

            <p>Ready to play?</p>

            <div class="buttons">
                <a href="/easy">
                    <button type="button" class="btn btn-primary">
                        Easy Mode
                    </button>
                </a>
    
                <a href="/hard">
                    <button type="button" class="btn btn-primary">
                        Hard Mode
                    </button>
                </a>
            </div>

        </div>

    </body>

</html>