<!DOCTYPE html>
<html>

    <head>
        
        <title>My Website</title>

        <!-- icon -->
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/logo.png')}}"/>

        <!-- css styling -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    </head>

    <body>
        
        <div id="container">

            <div id="title">Game Over</div>

            <div id="prompt">Score: {{score}}</div>

            <div class="buttons">
                <a href="/">
                    <button class="btn btn-primary">Try again</button>
                </a>
            </div>

        </div>

    </body>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>

</html>

